:root{
    --rowN:5;
    --colN:5;
    --canvaBackgroundColr: #F5F5F5;
}
h1{
    color: white;
    font-size: 50px;
    font-family: 'Common Pixel', sans-serif;
                                                
}
body{
    background-color:#30475E;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container2{
    display: flex;

}
.container1{
    background-color: #F05454;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;

}
.board{
    background-color: blanchedalmond;
    display: grid;
    width: 600px;
    height: 600px;
    border: #121212 solid 10px;
    box-shadow: rgb(33 22 22 / 44%) 10px 14px 7px 0px;
    grid-template-columns: repeat(var(--colN),1fr);
    grid-template-rows: repeat(var(--rowN), 1fr);
}

.grid{
    background-color: var(--canvaBackgroundColr);
    border: red solid 0.1px;
    
}

.grid:hover{
    background-color: black;
}

button{
    border-radius: 6px;
    border: none;
    padding: 20px;
}
button:hover{
    background-color: #30475E;
    transform: scale(1.2);
    box-shadow: #121212 -3px 3px 5px 0px;
    color: white;
}

.selected{
    background-color: #30475E;
    color: white;
    box-shadow: #121212 -3px 3px 5px 0px;
}

.slider{

    color: black;
    border-radius: 6px;
    border: none;
    padding: 20px;
    text-align: center;
}

/* credit: range style https://www.youtube.com/watch?v=2V4QWTIg_r8  */
input[type="range"]{
    -webkit-appearance: none;
    width: 250px;
    border-radius: 6px;
    overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    box-shadow: -350px 0 0 340px #30475E;
    background-color: #30475E;
}

input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 90px;
    height: 90px;
    
}

input[type="color"]::-webkit-color-swatch{
    border: none;
    border-radius:100%;
}
